<% opts = create_option_from_names(@names) %>
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= render 'result_header' %>
      <li class="active"><strong>Total</strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Total Result</h3>
  </div>
</div>
<div class="row">
  <div class="span6">
    <%= form_tag(result_total_path, method: :post, class: 'form-inline') do %>
      <div class="span4">
        <fieldset>
          <legend>Callers Ranking</legend>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="for-rank" value="1">View</button>
          </div>
        </fieldset>
      </div>
      <div class="span4">
        <fieldset>
          <legend>Select Guild or Union</legend>
          <p>
            <small>
              <% if params[:all] %>
                <u>From : All</u>
                (<%= link_to('Select from Recently Guilds', result_total_path) %>)
              <% else %>
                <u>From : Recently <%= ServerSettings.data_size_recently %>weeks</u>
                (<%= link_to('Select from All Guilds', result_total_path(all: 1)) %>)
              <% end %>
            </small>
          </p>
          <% (1..8).each do |i| %>
            <div class="control-group">
              <label class="control-label" for="guild_<%= i %>">Guild <%= i %></label>
              <div class="controls">
                <select id="guild_<%= i %>" name="guild[]">
                  <%= raw opts %>
                </select>
              </div>
            </div>
          <% end %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="for-guild" value="1">View</button>
          </div>
        </fieldset>
      </div>
    <% end %>
  </div>
</div>
