<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= render 'result_header' %>
      <li>
        <%= link_to('Total', result_total_path) %> <span class="divider">&gt;</span>
      </li>
      <li class="active"><strong>Callers Ranking</strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span9">
    <h3>Callers Ranking : Total <%= result_subtitle %></h3>
  </div>
</div>
<% unless gvtype_te? %>
  <div class="row">
    <div class="offset6 span3">
      priority : <%= link_to_unless(result_view_for_all?,  'Total', result_total_rank_path) %>
      / <%= link_to_unless(result_view_for_se?, 'SE', result_total_rank_path(priority: 'se')) %>
      / <%= link_to_unless(result_view_for_fe?, 'FE', result_total_rank_path(priority: 'fe')) %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="span9">
    <hr/>
  </div>
</div>
<%= render 'caller_ranking', callers: @callers, dates: [], target: :total %>
