<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= render 'result_header' %>
      <li class="active"><strong>Total</strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Total Result</h3>
  </div>
</div>
<%= form_tag(result_total_path, method: :post, class: 'form-inline') do %>
  <div class="row">
    <div class="span4">
      <legend>Callers Ranking</legend>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="for-rank" value="1">View</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <legend>Select Guild or Union</legend>
      <p>
        <small>
          <% if params[:all] %>
            <u>From : All</u>
            (<%= link_to('Select from Recently Guilds', result_total_path) %>)
          <% else %>
            <u>From : Recently <%= ServerSettings.data_size_recently %>weeks</u>
            (<%= link_to('Select from All Guilds', result_total_path(all: 1)) %>)
          <% end %>
        </small>
      </p>
      <%= render 'guild_select', opts: create_option_from_names(@names) %>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="for-guild" value="1">View</button>
      </div>
    </div>
    <%= render 'union_history' %>
  </div>
<% end %>
