<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= render 'timeline_header' %>
      <li class="active"><strong>Guild with Span</strong></li>
    </ul>
  </div>
</div>
<%
from_default = @dates.second
opts = create_option_from_names(@names)
%>
<div class="row">
  <div class="span6">
    <%= form_tag(timeline_span_union_select_path, method: :post, class: 'form-inline') do %>
      <div class="span6">
        <fieldset>
          <legend>Select Guild or Union, and Span</legend>
          <div class="form-actions">
            <label class="control-label" for="span-from-guild">from : </label>
            <select id="span-from-guild" name="span-from-guild" class="span2">
              <% @dates.each do |d| %>
                <option value="<%= d %>"<%= ' selected' if d == from_default %>><%= divided_date(d) %></option>
              <% end %>
            </select>
            <label class="control-label" for="span-to-guild">to : </label>
            <select id="span-to-guild" name="span-to-guild" class="span2">
              <% @dates.each do |d| %>
                <option value="<%= d %>"><%= divided_date(d) %></option>
              <% end %>
            </select>
            <p><small>max : <%= ServerSettings.timeline_span_max_size %>weeks</small></p>
          </div>
          <div>
            <p>
              <small>
                <% if params[:all] %>
                <u>From : All</u>
                  (<%= link_to('Select from Recently Guilds', timeline_span_union_select_path) %>)
                <% else %>
                  <u>From : Recently <%= ServerSettings.data_size_recently %>weeks</u>
                  (<%= link_to('Select from All Guilds', timeline_span_union_select_path(all: 1)) %>)
                <% end %>
              </small>
            </p>
          </div>
          <% (1..8).each do |i| %>
            <div class="control-group">
              <label class="control-label" for="guild_<%= i %>">Guild <%= i %></label>
              <div class="controls">
                <select id="guild_<%= i %>" name="guild[]">
                  <%= raw opts %>
                </select>
              </div>
            </div>
          <% end %>
        </fieldset>
      </div>
      <div class="span3">
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">View Timeline</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
