<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= render 'timeline_header' %>
      <li>
        <%= link_to("#{divided_date(@gvdate)}", timeline_path(date: @gvdate)) %> <span class="divider">&gt;</span>
      </li>
      <li class="active"><strong>Guild</strong></li>
    </ul>
  </div>
</div>
<%= form_tag(timeline_union_path(date: @gvdate), method: :post, class: 'form-inline') do %>
  <div class="row">
    <div class="span6">
      <legend>Select Guild or Union (<%= divided_date(@gvdate) %>)</legend>
      <%= render 'guild_select', opts: create_option_from_names(@names) %>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">View Timeline</button>
      </div>
    </div>
    <%= render 'union_history' %>
  </div>
<% end %>
